html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: black;
}

.h1 {
    font-family: 'Allerta Stencil', serif;
    font-size: 1.5em;
    animation: fadeIn 2.5s forwards 1s;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255,187,164), 0 0 5px rgb(247,134,130);
    opacity: 0;
}

.img {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 75px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img2 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 15pt;
    width: 180px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img3 {
    position: absolute;
    left: 570px;
    top: 100pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img4 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img5 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img6 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img7 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img8 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img9 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img10 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img11 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img12 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img13 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img14 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img15 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img16 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img17 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.img18 {
    background: #313750;
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    animation: img 5s infinite;
}
.text {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color:pink;
    animation: img 5s infinite;
}
.text2 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
.text3 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
.text4 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
.text5 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
.text6 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
.text7 {
    position: absolute;
    left: 570px;
    top: 158pt;
    width: 100px;
    visibility: hidden;
    color: pink;
    animation: img 5s infinite;
}
#score {
    text-align: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(255,187,164), 0 0 3px rgb(247,134,130);
}

#container {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 200px;
}

.elements {
    animation: fadeIn 2.5s forwards 1s;
    opacity: 0;
}

#ui {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#letters {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    height: 25px;
    perspective: 450px;
    color : white;
}

.letter {
    z-index: 10;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-bottom: 2px solid #b66767;
    margin: 2px;
}

#availableLetters {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255,187,164), 0 0 5px rgb(247,134,130);
    margin: 20px auto;
    animation: fadeIn 2.5s forwards 1s;
    opacity: 0;
}

.availableLetter {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 2px solid white;
    cursor: pointer;
    background: rgb(118,98,99);
    font-weight: bold;
}

    .availableLetter:hover {
        color: rgb(118,98,99);
        background-color: rgb(255,220,198);
    }

#input, #button, #clue {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 7px 40px;
    border-radius: 6px;
    color: rgb(118,98,99);
}

#button, #clue {
    cursor: pointer;
    font-weight: normal;
    color: white;
    padding: 7px 10px;
}

    #button, #clue:hover {
        background: rgb(140,120,121);
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes pop {
    0% {
        border-bottom: 2px solid black;
        box-shadow: 0px 2px 0px 0px rgb(247,134,130);
        color: white;
    }

    100% {
        border-bottom: 2px solid black;
        box-shadow: 0px 2px 0px 0px white;
        color: white;
    }
}

@keyframes flash {
    0% {
        color: white;
    }

    40% {
        color: #ff4d94;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes flash {
    0% {
        color: white;
    }

    40% {
        color: #ff4d94;
    }

    100% {
        color: white;
    }
}

@media screen and (max-width:600px) {
    #container {
        margin-left: 0px;
    }

    .availableLetter:hover {
        color: white;
    }
}
