html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(118,98,99);
}

.h1 {
    font-family: 'Allerta Stencil', serif;
    font-size: 1.5em;
    animation: fadeIn 2.5s forwards 1s;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255,187,164), 0 0 5px rgb(247,134,130);
    opacity: 0;
}

#score {
    text-align: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(255,187,164), 0 0 3px rgb(247,134,130);
}

#container {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 200px;
}

.elements {
    animation: fadeIn 2.5s forwards 1s;
    opacity: 0;
}

svg {
    position: absolute;
}

#gameOverSVG {
    opacity: 0;
}

.sway {
    animation: swing 2.5s infinite alternate;
    transform-origin: 50% -50%;
}

.leftArm {
    animation: shakeLeft .15s infinite alternate;
}

.leftLeg {
    animation: shakeLeftLeg .675s infinite alternate;
}

.rightLeg {
    animation: shakeRightLeg .90s infinite alternate;
}

.pathOne {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    opacity: 0;
}

.pathTwo {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    opacity: 0;
}

.pathThree {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    opacity: 0;
}

.pathFour {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    opacity: 0;
}

.pathFive {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
    opacity: 0;
}

#ui {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#letters {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    height: 25px;
    perspective: 450px;
}

.letter {
    z-index: 10;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-bottom: 2px solid black;
    margin: 2px;
}

#availableLetters {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255,187,164), 0 0 5px rgb(247,134,130);
    margin: 20px auto;
    animation: fadeIn 2.5s forwards 1s;
    opacity: 0;
}

.availableLetter {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 2px solid white;
    cursor: pointer;
    background: rgb(118,98,99);
    font-weight: bold;
}

    .availableLetter:hover {
        color: rgb(118,98,99);
        background-color: rgb(255,220,198);
    }

#input, #button {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 7px 40px;
    border-radius: 6px;
    color: rgb(118,98,99);
}

#button {
    cursor: pointer;
    font-weight: normal;
    color: white;
    padding: 7px 10px;
}

    #button:hover {
        background: rgb(140,120,121);
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shakeLeft {
    0% {
        transform-origin: 73px 188px;
        transform: rotate(35deg);
    }

    100% {
        transform-origin: 73px 188px;
        transform: rotate(36deg);
    }
}

@keyframes shakeLeftLeg {
    0% {
        transform-origin: 145px 215px;
        transform: rotate(2deg);
    }

    100% {
        transform-origin: 145px 215px;
        transform: rotate(20deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-1.5deg);
    }
}

@keyframes shakeRightLeg {
    0% {
        transform-origin: 145px 215px;
        transform: rotate(2deg);
    }

    100% {
        transform-origin: 145px 215px;
        transform: rotate(15deg);
    }
}

@keyframes dash {
    0% {
        fill-opacity: 0;
    }

    50% {
        stroke-dashoffset: 100;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@-webkit-keyframes dash {
    0% {
        fill-opacity: 0;
    }

    50% {
        stroke-dashoffset: 100;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes unDash {
    0% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }

    25% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }

    50% {
        stroke-dashoffset: 100;
        fill-opacity: 0;
    }

    100% {
        fill-opacity: 0;
    }
}

@keyframes flash {
    0% {
        color: white;
    }

    40% {
        color: #ff4d94;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes flash {
    0% {
        color: white;
    }

    40% {
        color: #ff4d94;
    }

    100% {
        color: white;
    }
}

@media screen and (max-width:600px) {
    #container {
        margin-left: 0px;
    }

    .availableLetter:hover {
        color: white;
    }
}
